<table>
  <tr>
    <th>Property_id</th>
  </tr>
 
<% @properties.each do |property| %>
  <tr>
    <tr>
    <td><%= property.id %></td>
    <td><%= link_to 'Show', property_path(property.id) %></td>
    
  </tr>
<% end %>
</table>
