<h1>WELCOME USER</h1>
<a href="http://localhost:3000/users/new">Register</a>
<a href="http://localhost:3000/users/login">Login</a>
<%= form_tag properties_path, :method => :get do %>
  <%= text_field_tag :title, params[:title] %>
  <%= submit_tag "Search"%>
 
<% end %>
