<div style="width: 350px; margin: auto;">
  <h1>WELCOME Prental</h1>
  <div style="text-align:center;">  <a href="/users/signup">Signup</a> /  <a href="/users/login">Login</a></div>
  <%= form_tag properties_path, :method => :get do %>
    <%= text_field_tag :title, params[:title] %>
    <%= submit_tag "Search"%> 
  <% end %>
  
</div>
